*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sahel;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
    padding: 40px 16px ;
}